.boxed{
    float: left;
    color: #020202;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    height: 200px;
    width: 50px;
    margin-top: 50px;
  }
  
  /* Change the color of links on hover */
  .boxed:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .boxed.active {
    background-color: #04AA6D;
    color: white;
  }


  #english{
    width: 33.3%;
    float: left;
    background-color: rgb(244, 157, 157);
  }
  #math{
    width: 33.3%;
    float: left;
    background-color: rgb(232, 182, 88);
  }
  #science{
    width: 33.3%;
    float: right; 
    clear: none;
    background-color: rgb(108, 233, 108);
  }

  #social{
    width: 33.3%;
    float: left;
    background-color: rgb(246, 149, 246);
  }
  #gym{
    width: 33.3%;
    float: left;
    background-color: rgb(246, 246, 134);
  }
  #arts{
    width: 33.3%;
    float: right; 
    clear: none;
    background-color: rgb(169, 243, 235);
  }

#one, #two, #three { width: 33.3%; }
#one, #two { float: left; }
#three { float: right; clear: none; }

.page{
  background-color: rgb(254, 252, 249);
}