/* Add a black background color to the top navigation */
.navigation-main-wrapper {
    background-color: rgb(128, 226, 240);
    overflow: hidden;
    margin-left: 25%;
    margin-right: 25%;
  }
  
  /* Style the links inside the navigation bar */
  .navigation-item{
    margin-left: 9%;
    float: left;
    color: #090909;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navigation-item:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navigation-item.active {
    background-color: #04AA6D;
    color: white;
  }
