<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password Page</title>
</head>
<body>
<br>
<br>
<div>

    <div>
        <div >
            <h1>Forgot Password</h1>
            <form >

                <!-- If one of the secruity answers are incorrect prompt an error message -->

                <!-- Security Question 1 -->
                <div>
                    <label> Security Question 1 </label>: 
                    <div>
                    <input type="text" id="answer1" name="answer1" />
                    </div>
                </div> <br>

                <!-- Security Question 2 -->
                <div>
                    <label> Security Question 2 </label>: 
                    <div>
                        <input type="text" id="answer2" name="answer2"/>
                    </div>
                </div> <br>

                </div>

                <!-- Submit  -->
                <form>
                    <div>
                        <input type="submit" name="forgotpassword-submit" id="forgotpassword-submit"value="Submit"  />
                    </div>
                </form>

                <span>Remembered your password ? <a href="/login/Login">Login here</a></span>
        </div>
    </div>
</div>
</body>
</html>