<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
<br>
<br>
<div>

    <div>
        <div >
            <h1>Sign In</h1>
            <form >

                <!-- If the username/email or password are invalid, prompt an error message-->

                <!-- Username/Email-->
                <div>
                    <label> Username/Email </label>: 
                    <div>
                    <input type="text" id="username" name="username" />
                    </div>
                </div> <br>

                <!-- Password -->
                <div>
                    <label> Password </label>: 
                    <div>
                        <input type="password" id="password" name="password"/>
                    </div>
                </div> <br>

                </div>

                <!-- Forgot Password -->
                <div>
                    <span><a href="/" >Forgot Password</a></span>
                </div> <br>

                <!-- Sign In -->
                <div>
                    <div>
                        <div>
                            <input type="submit" name="login-submit" id="login-submit" value="Sign In" />
                        </div>
                    </div>
                </div> <br>
                </form>
                <form action="/signup/Signup">
                <!-- Sign up -->
                <div>
						<span>New user? </span>
                        <div>
                            <input type="submit" name="signup-submit" id="signup-submit"value="Sign Up"  />
                        </div>
                </div>
                </form>
        </div>
    </div>
</div>
</body>
</html>